@media only screen and (max-width: 1024px){
    body,html{ font-size: 2vw; }
    .top_title{ font-size: 1.4vw; }
    .frt_ban_head{ font-size: 4rem; }
    .order_btn{ font-size: 15px; }
    .top_title{font-size: 20px;}
    
}

@media only screen and (max-width: 480px){
    body,html{ font-size: 4vw; }
    .frt_ban_head{ font-size: 2.2rem; }
    .sec_head{ font-size: 25px;}
    .feat_prod_img{
        width: 134px;
        height: 151px; 
      }
    .view_btn{ font-size: 15px;}
    }