body{
    background-color: #F9F9F9;
}
/* shop by catogry */
.cat_shop{
    background-color: #fff;
    text-align: center;
    box-shadow: 0px 10px 30px #00000008;
    border-radius: 20px;
}
.cat_shop_img{
    height: 70px;
    width: 70px;
    object-fit: cover;
}
/* product feature */
.feat_prod{
    background-color: #fff;
    text-align: center;
    box-shadow: 0px 10px 30px #00000008;
    border-radius: 20px;
}
.feat_prod_img{
    width: 174px;
    height: 191px;
    object-fit: cover;
}
.feat_prod_name{
    color: #3BD28C;
    font-size:14px;
}
.cart_btn{
    border-radius: 22px;
}